* {
  /* VERY IMPORTANT often used as a default styling for all elements */
  box-sizing: border-box;
}

body {
  /* i forget why margin 0 is often set here :( */
  margin: 0;
}

.box {
  padding: 2px 4px 6px 8px;
  margin: 5px 7px 9px 11px;
  display: inline-block;
}

.box-one {
  height: 300px;
  width: 50%;
  /* display: none; */
}

div:last-of-type:hover {
  background: green;
  color: orange;
  cursor: pointer;
}