* {
  /* VERY IMPORTANT often used as a default styling for all elements */
  box-sizing: border-box;
}

body {
  /* i forget why margin 0 is often set here :( */
  margin: 0;
}

.box {
  padding: 5px;
  margin: 10px;
  display: inline-block;
  border: solid 5px violet;
}

.box-one {
  height: 300px;
  width: 50%;
  /* display: none; */
}

div:last-of-type:hover {
  background: green;
  color: orange;
  cursor: pointer;
}