/* container of the div, div is box-element, so it will only increase to the height of its container.
the elements acting as the container here are html and body tags
*/
html body {
  height: 100%;
}

.box {
  padding: 5px 10px 15px 20px;
  margin: 10 20px 30px 40px;
  display: inline-block;
  border: solid 5px violet;
}

.box-one {
  height: 300px;
  width: 50%;
  /* display: none; */
  /* review box-sizing again, already forgot */
  box-sizing: border-box;
}

div:last-of-type:hover {
  background: green;
  color: orange;
  cursor: pointer;
}